<div class="container mt-4">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Users</h2>
    <a routerLink="/add-user" class="btn btn-success">Add user</a>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a
            [routerLink]="['/edit-user', user.id]"
            class="btn btn-sm btn-primary me-2"
            >Edit</a
          >
          <button class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
